<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Meu primeiro site éclat Vassance</p>
    <script>
        window.alert('Bem vindo ao meu novo site')
    </script>
    <img src="imagens/Logo Velas Eclat Vassance 20X16mm.png" alt="Logo Eclat Vassance">
    <img src="imagens/Vela Canela com Pinhas - 450 px.jpg" alt="Vela de canela com pinhas">
    <img src="imagens/Vela Canela Tecido Preto - 450px.jpg" alt="Vela com tecido preto ao fundo">
    <img src="imagens/Vela Gel - 450 px.jpg" alt="Vela de gel">
</body>
</html>